<div class="content__event">
    <div class="h-full" (click)="activeModal()"></div>
    <div class="moment"
        [style]="defineStyles(dateSelected, currentMoment)"
        #momentIndicator>
        <div class="moment__circle"></div>
        <div class="moment__line"></div>
    </div>
    @for (appointment of group.appointments; track $index) {
        @if (!appointment.allDay) {
        <app-appointment-event
            (click)="activeModalAppointment(appointment)"
            [appointment]="appointment"
            [heightPerHours]="heightPerHours"
            [unitOfMeasure]="unitOfMeasure"
            [currentMoment]="currentMoment"
            [date]="group.date"
            />
        }
    }
</div>