<div class="content__event" (click)="activeModal()">
    <div class="moment"
        [style]="defineStyles(dateSelected, currentMoment)"
        #momentIndicator>
        <div class="moment__circle"></div>
        <div class="moment__line"></div>
    </div>
    @for (task of taskGroup.tasks; track $index) {
        <div class="event" 
            appCalendarTask
            [task]="task"
            [heightPerHours]="heightPerHours"
            [unitOfMeasure]="unitOfMeasure"
            [currentMoment]="currentMoment"
            [taskDay]="taskGroup.date"
            >
            <span class="event__task--name">{{ task.title }}</span>
            <span class="event__task--time">
                <span>{{ task.startTime }}</span><span> - {{ task.endTime }}</span>
            </span>
        </div>
    }
</div>