.content__event {
    position: relative;
    height: 100%;
    width: 98%;
}

.moment {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    width: calc(100% + 0.4rem);
    left: -0.4rem;
}

.moment__circle {
    height: 0.8rem;
    width: 0.8rem;
    background-color: orange;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.moment__line {
    height: 0.15rem;
    width: 100%;
    margin-right: -2.05%;
    background-color: orange;
}

.event {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
    
    display: flex;
    justify-content: start;
    align-items: start;
    
    color: white;
    font-size: 0.7rem;
    border-radius: 0.35rem;
    -webkit-border-radius: 0.35rem;
    -moz-border-radius: 0.35rem;
    -ms-border-radius: 0.35rem;
    -o-border-radius: 0.35rem;
}

.event.task--line > *:first-child::after {
    content: ',';
    margin-right: 0.3rem;
}

.event__task--name {
    font-weight: 700;
    white-space: normal;
    text-wrap: nowrap;
}

.event__task--time {
    text-wrap: nowrap;
}