.year {
    user-select: none;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    padding: 1rem 0;
}

.month__name {
    text-align: center;
}

.month__content {
    width: 16rem;
    height: 14rem;
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.week {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.week__name {
    font-weight: 600;
    padding-top: 0.5rem;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day__number {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.day__number.isOtherMonth {
    opacity: 0.5;
}

.day__number.isCurrent {
    background-color: var(--color-700);
    color: var(--color-50);
}

.day__number:not(.isCurrent):hover {
    background-color: #0000001a;
}

.day__number:not(.isCurrent):active {
    background-color: #0000003a;
}

.day__number:not(.isCurrent).isSelected {
    background-color: var(--color-200);
    color: var(--color-900);
}