<section class="calendar">
    <header class="header">
        <h3 class="date__name">{{ customDate | monthYear}}</h3>
        <div class="header__container">
            <div class="header__date">
                <div class="header__date--controls">
                    <svg (click)="beforeDate()" class="header__icon" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                        <path d="M15 6l-6 6l6 6" />
                    </svg>
                    <button (click)="redirectCurrentDay()" class="btn btn__outline--primary">Hoy</button>
                    <svg (click)="nextDate()" class="header__icon" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                        <path d="M9 6l6 6l-6 6" />
                    </svg>
                </div>
                <h3 class="date__name--aux">{{ customDate | monthYear}}</h3>
            </div>
            <app-select-custom (viewCalendarChange)="updateViewCalendar($event)"></app-select-custom>
        </div>
    </header>
    <main class="calendar__container">
        <router-outlet></router-outlet>
    </main>
</section>