<section class="content-main">
    <div class="week">
        @for (name of weekDayNames; track $index) {
            <div class="week__name">{{name}}</div>
        }
    </div>
    <div #MonthContainer class="month" [style]="'grid-template-rows: repeat('+calendarDates.length+',1fr);'">
        @for (dates of calendarDates; track $index) {
            <div class="month__row">
                @for (date of dates; track $index) {
                    <div class="month__day" #DayElement>
                        <span style="display: none;">{{date}}</span>
                        <p class="day__number" (click)="navigateByView(date)" [class]="isCurrentDay(date) ?  'active' : ''"><span>{{ date.getDate() }}</span></p>
                        <div class="event">
                            @for (appointment of filterForDate(date); track $index) {
                                @if ($index < 2) {
                                    <p class="event__content">
                                        <span class="circle" [style]="'background-color: ' + (appointment.color ?? 'var(--color-900)')"></span>
                                        <span class="event__time">{{ appointment.startTimeOfDay }}</span>
                                        <span class="event__name">{{ appointment.title }}</span>
                                    </p>
                                }@else if(filterForDate(date).length > 2 && $index == 2) {
                                    <div class="event--more" (click)="popoverActive(date)">
                                        {{ filterForDate(date).length - 2 }} more
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        }
        @if (monthContainer && selectedElement) {
            <app-popover
                [parentElement]="monthContainer"
                [childElement]="selectedElement"
                [date]="selectedDate"
            ></app-popover>
        }
    </div>
</section>