.content-main {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.month,
.week {
    display: grid;
    grid-template-rows: repeat(auto-fill,1fr);
    border-left: 1px solid var(--color-200);
}

.month__row,
.week {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.week__name {
    border-right: 1px solid var(--color-200);
    color: var(--color-900);
}

.month__day {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--color-200);
    border-bottom: 1px solid var(--color-200);
}
.week__name,
.day__number {
    text-align: center;
}

.day__number {
    margin: 0.5rem 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.day__number.active {
    background-color: var(--color-700);
    color: var(--color-50);
}

.event {
    width: 100%;
    overflow: hidden;
    font-size: 0.8rem;
    padding: 0 0.3rem;
}

.event__content {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    gap: 0.2rem;
}

.circle {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.event__time {
    font-weight: 400;
    color: var(--color-400);
}

.event__name {
    overflow: hidden;
    text-wrap: nowrap;
    font-weight: 500;
}

.event--more {
    color: var(--color-900);
    padding: 0.2rem;
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.event--more:hover {
    background-color: #00000010;
}