.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.content {
    display: grid;
    grid-template-columns: 2.25rem auto;
}

.content--event {
    overflow: auto;
}

.week {
    padding-left: 0.5rem;
    padding-right: var(--width-scroll);
}

.content {
    box-shadow: 4px 2px 10px -10px color-mix(in srgb, var(--color-700), transparent 20%);
}

.week,
.week__content {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day {
    position: relative;
    padding: 0.5rem 0;
}

.day__name.active {
    color: var(--color-700);
}

.day__number {
    user-select: none;
    cursor: pointer;
    font-size: 32px;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
}

.day__number.active {
    background-color: var(--color-700);
    color: var(--color-50);
}

.day__number:hover {
    background-color: var(--color-100);
}

.date__void {
    position: absolute;
    bottom: 0;
    height: 1rem;
    width: 100%;
    border-left: 1px solid var(--color-200);
}

.time {
    height: fit-content;
    padding-bottom: 0.5rem;
    list-style: none;
    margin: 0;
}

.time__item {
    position: relative;
    height: 2.5rem;
    width: 2.25rem;
}

.time_hour {
    position: absolute;
    display: block;
    bottom: -0.5rem;
    right: 0;
    font-size: 0.75rem;
}

.event {
    position: relative;
    display: grid;
    padding-left: 0.5rem;
    background-image: repeating-linear-gradient(
        to bottom,
        var(--color-200),
        transparent 0.1rem,
        transparent 2.5rem
    );
}

.event__content {
    border-left: 1px solid var(--color-200);
    position: relative;
}