<section class="container">
    <div class="content">
        <span class="void"></span>
        <div class="week">
            @for (customDate of customDates; track $index) {
                <div class="day">
                    <h5 class="day__name" [class]="isCurrentDay(customDate) ? 'active' : ''">{{ customDate.toString().split(" ")[0] }}</h5>
                    <h3 class="day__number" [class]="isCurrentDay(customDate) ?  'active' : ''">{{ customDate.getDate() }}</h3>
                    <span class="date__void"></span>
                </div>
            }
        </div>
    </div>
    <div class="content content--event" #contentContainer>
        <ul class="time">
            @for (hour of hours; track $index) {
                <li class="time__item">
                    <span class="time_hour">{{ hour }}</span>
                </li>
            }
        </ul>
        <div class="event">
            <div class="week__content">
                @for (customDate of customDates; track $index) {
                    <div class="event__content">
                        @if(group[$index]) {
                            <app-event-custom 
                                [heightPerHours]="2.5"
                                [unitOfMeasure]="'rem'"
                                [group]="group[$index]"
                                [dateSelected]="customDate"
                                (positionCalculated)="scrollToMoment($event)"
                            ></app-event-custom>
                        } @else {
                            <app-event-custom 
                                [heightPerHours]="2.5"
                                [unitOfMeasure]="'rem'"
                                [dateSelected]="customDate"
                                (positionCalculated)="scrollToMoment($event)"
                            ></app-event-custom>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>