@import url("./app/shared/css/btn-custom.css");

:root {
    --color-50: #f2f5ff;
    --color-100: #e6eaff;
    --color-200: #d1d9ff;
    --color-300: #acb8ff;
    --color-400: #7e8dff;
    --color-500: #4953ff;
    --color-600: #2425ff;
    --color-700: #1513ee;
    --color-800: #110fc8;
    --color-900: #110fa9;
    --color-950: #06096f;

    --width-scroll: 0.5rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: thin; */
    /* scrollbar-color: #bbbbbb transparent; */
}

body {
    font-family: sans-serif, Arial;
    color: var(--color-950);
}

::-webkit-scrollbar {
    width: var(--width-scroll);
}

::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}